
@{
    ViewBag.Title = "Productlist";
}

<!--Danh sách các sản phẩm-->
<section class="danhsachsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!--Banner-->
    <div class="banner hidden-xs col-sm-12 col-md-12 col-lg-12">
        <p class="col-sm-5 col-md-5 col-lg-5">
            <span>Rèm vải 1 lớp</span><br />
            Là loại rèm được thiết kế 1 lớp, đơn giản nhưng trang nhã, lịch sự.
            Chắn gió, chắn nắng, tùy theo nhu cầu của khách hàng
        </p>
    </div>

    <!--Danh sách sản phẩm-->
    <article class="danhsach col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Sản phẩm
        </p>
        <div class="cacsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="sanpham col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Products","Home")">
                    <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Rèm vải Nhật Bản 01
                    </p>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Products","Home")">
                    <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Rèm vải Nhật Bản 01
                    </p>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Products","Home")">
                    <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Rèm vải Nhật Bản 01
                    </p>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Products","Home")">
                    <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Rèm vải Nhật Bản 01
                    </p>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Products","Home")">
                    <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Rèm vải Nhật Bản 01
                    </p>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Products","Home")">
                    <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Rèm vải Nhật Bản 01
                    </p>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Products","Home")">
                    <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Rèm vải Nhật Bản 01
                    </p>
                </a>
            </div>
            <div class="sanpham col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Products","Home")">
                    <img src="~/Content/images/sanpham/remvai/remvai1lop/remvai-1lop.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                    <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Rèm vải Nhật Bản 01
                    </p>
                </a>
            </div>
        </div>
    </article>
</section>