
@{
    ViewBag.Title = "Tutorial";
}

<!--Trang hướng dẫn-->
<section class="tutorial col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!--Danh mục sản phẩm & Bài viết nổi bật & có thể bạn quan tâm-->
    <aside class="hidden-xs hidden-sm col-md-3 col-lg-3">

        <!--Danh mục-->
        <div class="danhmuc col-md-12 col-lg-12">
            <ul>
                <li class="tieude">Danh mục sản phẩm</li>
                <li><a href="@Url.Action("Productstype","Home")">Rèm vải</a></li>
                <li><a href="@Url.Action("Productstype","Home")">Rèm cuốn</a></li>
                <li><a href="@Url.Action("Productstype","Home")">Rèm sáo</a></li>
                <li><a href="@Url.Action("Productstype","Home")">Rèm chức năng</a></li>
                <li><a href="@Url.Action("Productstype","Home")">Rèm khác</a></li>
                <li><a href="@Url.Action("Productstype","Home")">Thảm trải sàn</a></li>
                <li><a href="@Url.Action("Productstype","Home")">Phòng hội trường</a></li>
                <li class="line-end"><a href="@Url.Action("Productstype","Home")">Váy ghế</a></li>
            </ul>
        </div>

        <!--Bài viết nổi bật-->
        <div class="noibat col-md-12 col-lg-12">
            <p class="tieude col-md-12 col-lg-12">Bài viết nổi bật</p>
            <div class="cacbaiviet col-md-12 col-lg-12">
                <div class="tungbaiviet col-md-12 col-lg-12">
                    <a href="#">
                        <img src="~/Content/images/gioithieu/baivietnoibat.png" alt="" class="col-md-12 col-lg-12" />
                        <p class="col-md-12 col-lg-12">Rèm cổ điển vẫn đẹp và sang trọng theo thời gian.</p>
                    </a>
                </div>
                <div class="tungbaiviet col-sm-12 col-md-12 col-lg-12">
                    <a href="#">
                        <img src="~/Content/images/gioithieu/baivietnoibat.png" alt="" class="col-sm-12 col-md-12 col-lg-12" />
                        <p class="col-sm-12 col-md-12 col-lg-12">Rèm cổ điển vẫn đẹp và sang trọng theo thời gian.</p>
                    </a>
                </div>
                <div class="tungbaiviet col-sm-12 col-md-12 col-lg-12">
                    <a href="#">
                        <img src="~/Content/images/gioithieu/baivietnoibat.png" alt="" class="col-sm-12 col-md-12 col-lg-12" />
                        <p class="col-sm-12 col-md-12 col-lg-12">Rèm cổ điển vẫn đẹp và sang trọng theo thời gian.</p>
                    </a>
                </div>
            </div>
        </div>

        <!--Có thể bạn quan tâm-->
        <div class="quantam col-sm-12 col-md-12 col-lg-12">
            <p class="tieude col-sm-12 col-md-12 col-lg-12">Có thể bạn quan tâm</p>
            <div class="cacbaiviet col-sm-12 col-md-12 col-lg-12">
                <div class="tungbaiviet col-sm-12 col-md-12 col-lg-12">
                    <a href="#">
                        <img src="~/Content/images/gioithieu/quantam.png" alt="" class="col-sm-12 col-md-12 col-lg-12" />
                        <p class="col-sm-12 col-md-12 col-lg-12">Rèm vải Nhật Bản 01</p>
                    </a>
                </div>
                <div class="tungbaiviet col-sm-12 col-md-12 col-lg-12">
                    <a href="#">
                        <img src="~/Content/images/gioithieu/quantam.png" alt="" class="col-sm-12 col-md-12 col-lg-12" />
                        <p class="col-sm-12 col-md-12 col-lg-12">Rèm vải Nhật Bản 01</p>
                    </a>
                </div>
                <div class="tungbaiviet col-sm-12 col-md-12 col-lg-12">
                    <a href="#">
                        <img src="~/Content/images/gioithieu/quantam.png" alt="" class="col-sm-12 col-md-12 col-lg-12" />
                        <p class="col-sm-12 col-md-12 col-lg-12">Rèm vải Nhật Bản 01</p>
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!--Danh sách bài viết-->
    <article class="danhsachbaiviet col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/sanpham/remvai/remvai-2lop.png" alt="" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" />
            <div class="info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hướng dẫn tự lắp mành treo tại nhà</a>
                <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fketnoitrejsc.com&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Nếu bạn tự mua mới những tấm mành rèm che nắng ban công mà không có thợ lắp đặt.
                    Và bạn muốn tự lắp đặt mành che nắng ban công đơn giản, nhưng chắc chắn, giữ được bộ mành tre trúc bền lâu với thời gian.
                    Sau đây, remgiadinh.vn sẽ hướng dẫn bạn cách lắp đặt rèm che nắng ban công đơn giản tại nhà... <a href="#">Xem tiếp</a>
                </p>
            </div>
        </div>
        <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/sanpham/remvai/remvai-2lop.png" alt="" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" />
            <div class="info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hướng dẫn tự lắp mành treo tại nhà</a>
                <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fketnoitrejsc.com&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Nếu bạn tự mua mới những tấm mành rèm che nắng ban công mà không có thợ lắp đặt.
                    Và bạn muốn tự lắp đặt mành che nắng ban công đơn giản, nhưng chắc chắn, giữ được bộ mành tre trúc bền lâu với thời gian.
                    Sau đây, remgiadinh.vn sẽ hướng dẫn bạn cách lắp đặt rèm che nắng ban công đơn giản tại nhà... <a href="#">Xem tiếp</a>
                </p>
            </div>
        </div>
        <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/sanpham/remvai/remvai-2lop.png" alt="" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" />
            <div class="info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hướng dẫn tự lắp mành treo tại nhà</a>
                <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fketnoitrejsc.com&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Nếu bạn tự mua mới những tấm mành rèm che nắng ban công mà không có thợ lắp đặt.
                    Và bạn muốn tự lắp đặt mành che nắng ban công đơn giản, nhưng chắc chắn, giữ được bộ mành tre trúc bền lâu với thời gian.
                    Sau đây, remgiadinh.vn sẽ hướng dẫn bạn cách lắp đặt rèm che nắng ban công đơn giản tại nhà... <a href="#">Xem tiếp</a>
                </p>
            </div>
        </div>
        <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/sanpham/remvai/remvai-2lop.png" alt="" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" />
            <div class="info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hướng dẫn tự lắp mành treo tại nhà</a>
                <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fketnoitrejsc.com&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Nếu bạn tự mua mới những tấm mành rèm che nắng ban công mà không có thợ lắp đặt.
                    Và bạn muốn tự lắp đặt mành che nắng ban công đơn giản, nhưng chắc chắn, giữ được bộ mành tre trúc bền lâu với thời gian.
                    Sau đây, remgiadinh.vn sẽ hướng dẫn bạn cách lắp đặt rèm che nắng ban công đơn giản tại nhà... <a href="#">Xem tiếp</a>
                </p>
            </div>
        </div>
        <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/sanpham/remvai/remvai-2lop.png" alt="" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" />
            <div class="info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hướng dẫn tự lắp mành treo tại nhà</a>
                <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fketnoitrejsc.com&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Nếu bạn tự mua mới những tấm mành rèm che nắng ban công mà không có thợ lắp đặt.
                    Và bạn muốn tự lắp đặt mành che nắng ban công đơn giản, nhưng chắc chắn, giữ được bộ mành tre trúc bền lâu với thời gian.
                    Sau đây, remgiadinh.vn sẽ hướng dẫn bạn cách lắp đặt rèm che nắng ban công đơn giản tại nhà... <a href="#">Xem tiếp</a>
                </p>
            </div>
        </div>
        <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/sanpham/remvai/remvai-2lop.png" alt="" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" />
            <div class="info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hướng dẫn tự lắp mành treo tại nhà</a>
                <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fketnoitrejsc.com&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Nếu bạn tự mua mới những tấm mành rèm che nắng ban công mà không có thợ lắp đặt.
                    Và bạn muốn tự lắp đặt mành che nắng ban công đơn giản, nhưng chắc chắn, giữ được bộ mành tre trúc bền lâu với thời gian.
                    Sau đây, remgiadinh.vn sẽ hướng dẫn bạn cách lắp đặt rèm che nắng ban công đơn giản tại nhà... <a href="#">Xem tiếp</a>
                </p>
            </div>
        </div>
        <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/sanpham/remvai/remvai-2lop.png" alt="" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" />
            <div class="info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hướng dẫn tự lắp mành treo tại nhà</a>
                <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fketnoitrejsc.com&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Nếu bạn tự mua mới những tấm mành rèm che nắng ban công mà không có thợ lắp đặt.
                    Và bạn muốn tự lắp đặt mành che nắng ban công đơn giản, nhưng chắc chắn, giữ được bộ mành tre trúc bền lâu với thời gian.
                    Sau đây, remgiadinh.vn sẽ hướng dẫn bạn cách lắp đặt rèm che nắng ban công đơn giản tại nhà... <a href="#">Xem tiếp</a>
                </p>
            </div>
        </div>
        <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/images/sanpham/remvai/remvai-2lop.png" alt="" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" />
            <div class="info col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <a href="#" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hướng dẫn tự lắp mành treo tại nhà</a>
                <div class="social col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fketnoitrejsc.com&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <p class="detail col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Nếu bạn tự mua mới những tấm mành rèm che nắng ban công mà không có thợ lắp đặt.
                    Và bạn muốn tự lắp đặt mành che nắng ban công đơn giản, nhưng chắc chắn, giữ được bộ mành tre trúc bền lâu với thời gian.
                    Sau đây, remgiadinh.vn sẽ hướng dẫn bạn cách lắp đặt rèm che nắng ban công đơn giản tại nhà... <a href="#">Xem tiếp</a>
                </p>
            </div>
        </div>
    </article>
</section>