<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mành rèm Tuyết Hùng</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/font -awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/header-footer.css" rel="stylesheet" />
    <link href="~/Content/trangchu.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr.custom.js"></script>
    <style>
        .fixed {
            position: fixed;
            top: 0;
            z-index: 1;
        }
    </style>
</head>
<body class="container-fluid">

    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Giao diện máy tính-->
        <div class="desktop hidden-xs hidden-sm col-md-12 col-lg-12">
            <div class="header-top col-md-12 col-lg-12">
                <div class="logo col-md-6 col-lg-6">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/images/logo.png" alt="" class="col-md-4 col-lg-4" />
                        <p class="col-md-8 col-lg-8">
                            Chăn ga - gối đệm - nội thất <br />
                            mành rèm hùng tuyết
                        </p>
                    </a>
                </div>
                <div class="sologan col-md-6 col-lg-6">
                    <div class="col-md-12 col-lg-12">
                        <img src="~/Content/images/header.png" alt="" />
                    </div>
                    <p class="col-md-12 col-lg-12">"Nơi tôn vinh vẻ đẹp căn nhà của bạn !"</p>
                </div>
            </div>
            <div class="menu col-md-12 col-lg-12">
                <ul class="list col-md-8 col-lg-8">
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Trang chủ</a></li>
                    <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
                    <li><a href="@Url.Action("Productscatalog","Home")">Sản phẩm</a></li>
                    <li><a href="@Url.Action("Tutorial","Home")">Hướng dẫn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Tư vấn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Liên hệ</a></li>
                </ul>
                <ul class="social col-md-4 col-lg-4">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-youtube-play"></a></li>
                </ul>
            </div>
        </div>

        <!--Giao diện điện thoại-->
        <div class="mobile hidden-md hidden-lg">
            <nav id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger">Open Menu</button>
                <div>
                    <a href="@Url.Action("Index","Home")" class="logo"><img src="~/Content/images/logo.png" alt="" /></a>
                    <a id="button-search" class="search"><i class="fa fa-search search-btn"></i></a>
                </div>
                <ul class="dl-menu">
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
                    <li><a href="@Url.Action("Productscatalog","Home")">Sản phẩm</a></li>
                    <li><a href="@Url.Action("Tutorial","Home")">Hướng dẫn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Tư vấn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Liên hệ</a></li>
                </ul>
                <input type="text" placeholder="Nhập tìm kiếm ..." value="" id="search-box" class="search-box" />
            </nav>
            
        </div>
    </header>
    @RenderBody()
    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="add col-xs-12 col-sm-4 col-md-5 col-lg-5">
            <div class="info col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="co-name col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    Công ty THHH SX thương mại và dịch vụ Hùng Tuyết
                </p>
                <p class="co-if col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>Địa chỉ:</span> 43 N Đường Lê Lai ,phường Máy Chai ,Quận Ngô Quyền ,Tp Hải Phòng <br />
                    <span>ĐT:</span> 01266.419.960 - 0904.482.018 - 0904.245.998 <br />
                    <span>Email:</span> hungtuyet1970@gmail .com
                </p>
            </div>
            <div class="map col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.17002685255!2d106.69719731450142!3d20.865195986087144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7ae823bb8a31%3A0xd45441a2390a4f5f!2zNDMgTMOqIExhaSwgTcOheSBDaGFpLCBOZ8O0IFF1eeG7gW4sIEjhuqNpIFBow7JuZywgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1477586708817" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="follow col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <p class="chanel">
                <span>Kênh thông tin</span><br />
                Nhập Email để có thể nhận được thông tin đầy đủ và mới nhất mỗi khi có khuyến mãi.
            </p>
            <form class="signup">
                <input type="text" value="" placeholder="Nhập email của bạn...." />
                <button type="submit">Đăng ký</button>
            </form>
            <div class="social">
                <a href="#" class="fa fa-facebook-square"></a>
                <a href="#" class="fa fa-twitter-square"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-google-plus-square"></a>
                <a href="#" class="fa fa-youtube-square"></a>
            </div>
            <div class="like">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKetnoitreJsc&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>
        <div class="menu col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
                <li><a href="@Url.Action("Productscatalog","Home")">Sản phẩm</a></li>
                <li><a href="@Url.Action("Tutorial","Home")">Hướng dẫn</a></li>
                <li><a href="@Url.Action("Index","Home")">Tư vấn</a></li>
                <li><a href="@Url.Action("Index","Home")">Liên hê</a></li>
            </ul>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/Front/trangchu.js"></script>
    <script src="~/Scripts/Front/jquery.dlmenu.js"></script>
    <script src="~/Scripts/Front/header-footer.js"></script>

    <script>
        $(function () {

            $(window).bind('scroll', function () {
                var navHeight = $('.mobile').height();
                if ($(window).scrollTop() > navHeight) {
                    $('#dl-menu').addClass('fixed');
                }
                else {
                    $('#dl-menu').removeClass('fixed');
                }
            });

            $('#dl-menu, #search-box').dlmenu({
                animationClasses: { classin: 'dl-animate-in-5', classout: 'dl-animate-out-5' }
            });
        });
    </script>
</body>
</html>
