<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mành rèm Tuyết Hùng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/font -awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/header-footer-2.css" rel="stylesheet" />
    <link href="~/Content/gioithieu.css" rel="stylesheet" />
    <link href="~/Content/producscatalog.css" rel="stylesheet" />
    <link href="~/Content/productstype.css" rel="stylesheet" />
    <link href="~/Content/productlist.css" rel="stylesheet" />
    <link href="~/Content/products.css" rel="stylesheet" />
    <link href="~/Content/tutorial.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr.custom.js"></script>
    <style>
        .fixed-1 {
            position: fixed;
            top: 0;
            z-index: 1;
        }
    </style>

</head>
<body class="container-fluid">
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Giao diện dành cho desktop-->
        <div class="desktop hidden-xs hidden-sm col-md-12 col-lg-12">

            <!--Logo & sologan-->
            <div class="logo col-md-5 col-lg-5">
                <a href="@Url.Action("Index","Home")">
                    <div class="col-md-12 col-lg-12">
                        <img src="~/Content/images/logo.png" alt="" class="col-md-4 col-lg-4" />
                        <p class="co-name col-md-8 col-lg-8">
                            Chăn ga - gối đệm - nội thất <br />
                            mành rèm hùng tuyết
                        </p>
                    </div>
                    <p class="sologan col-md-12 col-lg-12">
                        " Nơi tôn vinh vẻ đẹp căn nhà của bạn ! "
                    </p>
                </a>
            </div>

            <!--Menu & mạng xã hội-->
            <div class="menu col-md-7 col-lg-7">

                <!--Menu-->
                <ul class="col-md-12 col-lg-12">
                    <li @*class="col-md-2 col-lg-2"*@><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
                    <li><a href="@Url.Action("Productscatalog","Home")">Sản phẩm</a></li>
                    <li><a href="@Url.Action("Tutorial","Home")">Hướng dẫn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Tư vấn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Liên hệ</a></li>
                </ul>

                <!--Mạng xã hội & tìm kiếm-->
                <div class="social col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">

                    <!--Mạng xã hội-->
                    <div class="icon col-md-5 col-lg-5">
                        <a href="#" class="fa fa-facebook col-md-3 col-lg-3"></a>
                        <a href="#" class="fa fa-twitter col-md-3 col-lg-3"></a>
                        <a href="#" class="fa fa-google-plus col-md-3 col-lg-3"></a>
                        <a href="#" class="fa fa-youtube-play col-md-3 col-lg-3"></a>
                    </div>

                    <!--Nút tìm kiếm-->
                    <form class="col-md-7 col-lg-7">
                        <input type="text" placeholder="Nhập thông tin cần tìm" value="" />
                        <a href="#" class="fa fa-search"></a>
                    </form>
                </div>
            </div>
        </div>

        <!--Giao diện cho di động-->
        <div class="mobile hidden-md hidden-lg">
            <nav id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger">Open Menu</button>
                <div>
                    <a href="@Url.Action("Index","Home")" class="logo"><img src="~/Content/images/logo.png" alt="" /></a>
                    <a id="button-search" class="search"><i class="fa fa-search search-btn"></i></a>
                </div>
                <ul class="dl-menu">
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
                    <li><a href="@Url.Action("Productscatalog","Home")">Sản phẩm</a></li>
                    <li><a href="@Url.Action("Tutorial","Home")">Hướng dẫn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Tư vấn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Liên hệ</a></li>
                </ul>
                <input type="text" placeholder="Nhập tìm kiếm ..." value="" id="search-box" class="search-box" />
            </nav>
            
        </div>
    </header>

    @RenderBody()

    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Công trình nổi bật-->
        <div class="noibat hidden-xs col-sm-12 col-md-12 col-lg-12">
            <p class="col-sm-12 col-md-12 col-lg-12">công trình nổi bật</p>
            <div class="col-sm-12 col-md-12 col-lg-12 border-slide">
                <div class="well">
                    <div id="myCarousel" class="carousel slide all">
                        <!-- Carousel items -->
                        <div class="carousel-inner pic">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3 frame">
                                        <a href="#x" class="thumbnail"><img src="~/Content/images/trangchu/tieubieu-1.png" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3 frame">
                                        <a href="#x" class="thumbnail"><img src="~/Content/images/trangchu/tieubieu-2.png" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3 frame">
                                        <a href="#x" class="thumbnail"><img src="~/Content/images/trangchu/tieubieu-1.png" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3 frame">
                                        <a href="#x" class="thumbnail"><img src="~/Content/images/trangchu/tieubieu-2.png" alt="Image" class="img-responsive"></a>
                                    </div>
                                </div>
                                <!--/row-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="#x" class="thumbnail"><img src="~/Content/images/trangchu/tieubieu-1.png" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x" class="thumbnail"><img src="~/Content/images/trangchu/tieubieu-2.png" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x" class="thumbnail"><img src="~/Content/images/trangchu/tieubieu-1.png" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x" class="thumbnail"><img src="~/Content/images/trangchu/tieubieu-2.png" alt="Image" class="img-responsive"></a>
                                    </div>
                                </div>
                                <!--/row-->
                            </div>
                            <!--/item-->
                        </div>
                        <!--/carousel-inner-->
                        <a class="left carousel-control footer-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control footer-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                    <!--/myCarousel-->
                </div>
                <!--/well-->
            </div>
        </div>

        <!--Tin tức-->
        <div class="tintuc col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Ảnh đại diện-->
            <img src="~/Content/images/trangchu/remsao-1.png" alt="" class="hidden-xs hidden-sm col-md-3 col-lg-3" />

            <!--Ô chứa video-->
            <div class="video col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ITDsa_n_IGo" frameborder="0" allowfullscreen></iframe>
            </div>

            <!--Tin tức-->
            <div class="cactintuc col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><span class="fa fa-newspaper-o"></span>Tin tức</p>
                <a href="#" class="news col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="~/Content/images/trangchu/remsao-1.png" alt="" class="col-xs-12 col-sm-3 col-md-3 col-lg-3" />
                    <p class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        <span>Không gian thoáng mát ảnh hưởng thế nào tới sức khỏe chúng ta ?</span><br />
                        Đặc thù nghề nghiệp buộc bạn không chỉ phải làm việc tại cơ quan mà cần có không gian riêng để lao động trí óc tại gia.
                        Muốn có đủ tinh thần và sự tập trung cao...
                    </p>
                </a>
                <div class="list col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul>
                        <li><a href="#">Tuyển nhân viên bán hàng</a></li>
                        <li><a href="#">Rèm cửa giá rẻ chất lượng cao tại Hải Phòng</a></li>
                        <li><a href="#">Bộ sưu tập chăn ga mới của Everon</a></li>
                        <li><a href="#">Mua rèm cuốn văn phòng chất lượng tại Hải Phòng</a></li>
                    </ul>
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>

        <!--footer-->
        <div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="add col-xs-12 col-sm-4 col-md-5 col-lg-5">
                <div class="info col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="co-name col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Công ty THHH SX thương mại và dịch vụ Hùng Tuyết
                    </p>
                    <p class="co-if col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span>Địa chỉ:</span> 43 N Đường Lê Lai ,phường Máy Chai ,Quận Ngô Quyền ,Tp Hải Phòng <br />
                        <span>ĐT:</span> 01266.419.960 - 0904.482.018 - 0904.245.998 <br />
                        <span>Email:</span> hungtuyet1970@gmail .com
                    </p>
                </div>
                <div class="map col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.17002685255!2d106.69719731450142!3d20.865195986087144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7ae823bb8a31%3A0xd45441a2390a4f5f!2zNDMgTMOqIExhaSwgTcOheSBDaGFpLCBOZ8O0IFF1eeG7gW4sIEjhuqNpIFBow7JuZywgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1477586708817" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="follow col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p class="chanel">
                    <span>Kênh thông tin</span><br />
                    Nhập Email để có thể nhận được thông tin đầy đủ và mới nhất mỗi khi có khuyến mãi.
                </p>
                <form class="signup">
                    <input type="text" value="" placeholder="Nhập email của bạn...." />
                    <button type="submit">Đăng ký</button>
                </form>
                <div class="social">
                    <a href="#" class="fa fa-facebook-square"></a>
                    <a href="#" class="fa fa-twitter-square"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-google-plus-square"></a>
                    <a href="#" class="fa fa-youtube-square"></a>
                </div>
                <div class="like">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKetnoitreJsc&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
            <div class="menu col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("About","Home")">Giới thiệu</a></li>
                    <li><a href="@Url.Action("Productscatalog","Home")">Sản phẩm</a></li>
                    <li><a href="@Url.Action("Tutorial","Home")">Hướng dẫn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Tư vấn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Liên hê</a></li>
                </ul>
            </div>
        </div>
    </footer>


    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/Front/trangchu.js"></script>
    <script src="~/Scripts/Front/jquery.dlmenu.js"></script>
    <script src="~/Scripts/Front/header-footer.js"></script>

    <script>
        $(function () {

            $(window).bind('scroll', function () {
                var navHeight = $('.mobile').height();
                if ($(window).scrollTop() > navHeight) {
                    $('#dl-menu').addClass('fixed-1');
                }
                else {
                    $('#dl-menu').removeClass('fixed-1');
                }
            });

            $('#dl-menu').dlmenu({
                animationClasses: { classin: 'dl-animate-in-5', classout: 'dl-animate-out-5' }
            });
        });
    </script>

</body>
</html>
